<nav class="nav">
    <a href="/" class="nav-item">Inicio</a>
    <a href="/products" class="nav-item">Productos</a>
    <a href="/api/users/profile" class="nav-item">Perfil</a>
    <a href="/chat" class="nav-item">Chat Comunitario</a>
        {{#if user}}
            <a href="/logout" class="nav-item">Cerrar Sesión</a>
        {{else}}
            <a href="/login" class="nav-item">Iniciar Sesión</a>
        {{/if}}
</nav>